<!doctype html>
<html>
    <head>
        <title>Beachwood Memorial</title>
        <link href="./css/app.css" rel="stylesheet">
    </head>
    <body>
        {{> navbar}}
        <script src="./js/app.js"></script>
    </body>
</html>